APP_NAME=
ROOT_PATH=
DEBUG=
LOG_FILE=
CONN_STR=
TOPDESK_BASE_URL=
TOPDESK_USER=
TOPDESK_PASSWORD=
OPSRAMP_BASE_URL=
OPSRAMP_TENANT=
OPSRAMP_CLIENT_ID=
OPSRAMP_CLIENT_SECRET=
OPSRAMP_API_KEY=
RETRY_ENABLED=True
RETRY_POLL_SECONDS=60
RETRY_BASE_DELAY_MINUTES=5
RETRY_MAX_DELAY_MINUTES=60
RETRY_MAX_ATTEMPTS=5
RETRY_BATCH_SIZE=10
